@import url("https://fonts.googleapis.com/css2?family=Candal&family=Quicksand:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.y-l-header.is-open .y-l-header-background {
  left: 0;
}
.y-l-header-button-wrapper {
  margin-left: auto;
}
.y-l-header-icon {
  display: none;
}

.y-l-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.y-l-navigation-list.is-open {
  right: 0;
}
.y-l-header-icon-menu {
  display: block;
}

.y-l-header-icon-button.is-open .y-l-header-icon-menu {
  display: none;
}

.y-l-header-icon-button.is-open .y-l-header-icon-close {
  display: block;
}

.y-l-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #648ffc;
}

.y-l-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #648ffc;
}
.y-l-header.is-open .y-l-header-background {
  left: 0;
}
.y-l-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.y-l-header-icon-menu {
  display: block;
}

.y-l-header-icon-button.is-open .y-l-header-icon-menu {
  display: none;
}

.y-l-header-icon-button.is-open .y-l-header-icon-close {
  display: block;
}

.y-l-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.y-l-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 16px 26px;
  border-radius: 24px;
  gap: 28px;
  background: #648ffc;

  margin-top: 16px;
}

.y-l-navigation-list.is-open {
  right: 0;
}

.y-l-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.y-l-navigation-link:hover,
.y-l-navigation-link:focus {
  color: #f77d4a;
}

.y-l-header.is-open {
  background-color: transparent;
}

.y-l-navigation-img {
  display: none;
}

@media screen and (min-width: 1207px) {
  .y-l-navigation-img {
    display: flex;
    margin-right: 436px;
  }
  .y-l-header-icon-title {
    display: none;
  }
  .y-l-header-button-wrapper {
    display: none;
  }
  .y-l-header {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    background: #648ffc;
  }

  .y-l-header-background {
  }
  .y-l-header-icon-button {
    display: none;
  }
  .y-l-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .y-l-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 46px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .y-l-navigation-link {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-l-navigation-item-desk {
    display: none;
  }
}
.y-l-home {
  margin: auto;
  background: linear-gradient(180deg, #a2bcff 0%, #618cfb 100%);
}
.y-l-home-container {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero.png");
  width: 375px;
  padding: 104px 16px 0px;
  margin: auto;
  color: #ffffff;
}

.y-l-home-title {
  font-family: Candal;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.y-l-home-text-two {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 234px 0 0px;
}
@media screen and (min-width: 1207px) {
  .y-l-home-container {
    width: 1440px;
    padding: 112px 160px 0px;
    width: 1440px;
    height: 759px;
    background-image: url("/img/Hero\ \(1\).png");
  }
  .y-l-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .y-l-home-title {
    font-family: Candal;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }

  .y-l-home-text-two {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    width: 872px;
    padding: 321px 0 0px;
  }
}
.y-l-about {
  margin: auto;
  background: linear-gradient(180deg, #a2bcff 0%, #618cfb 100%);
}
.y-l-about-container {
  width: 375px;
  height: 711px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ Us.png");
  padding: 40px 16px 0px;
  margin: auto;
}
.y-l-about-title-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.y-l-about-title {
  font-family: Candal;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.y-l-about-title-text {
  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 8px;
}
.y-l-about-text {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1207px) {
  .y-l-about-container {
    width: 1440px;
    height: 464px;
    background-image: url("/img/About\ Us\ \(1\).png");
    padding: 80px 160px 0px;
    margin: auto;
  }
  .y-l-about-title-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .y-l-about-title {
    font-family: Candal;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .y-l-about-title-text {
    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .y-l-about-text {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
  }
}

.y-l-why-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}
.y-l-about-title-div-why {
  gap: 32px;
  align-items: center;
  text-align: center;
}

.y-l-why-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.y-l-why-item {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 16px;

  background: linear-gradient(180deg, #fdeef3 0%, #ffffff 100%);
}

.y-l-why-text-bold {
  font-family: Candal;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(90deg, #f43b8e 0%, #f77d4a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.y-l-why-text {
  font-family: Candal;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(90deg, #f43b8e 0%, #f77d4a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.y-l-why-item-two {
  background: linear-gradient(180deg, #e8f9fe 0%, #ffffff 100%);
}
.y-l-why-text-two {
  background: linear-gradient(90deg, #38c3fd 0%, #5ee1ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1207px) {
  .y-l-why-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }

  .y-l-about-title-div-why {
    gap: 40px;
  }

  .y-l-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .y-l-why-item {
    width: 256px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 16px;
  }

  .y-l-why-text-bold {
    font-family: Candal;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .y-l-why-text {
    font-family: Candal;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.y-l-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}

.y-l-uniqueness-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.y-l-uniqueness-item {
  width: 256px;
  height: 289px;

  padding: 120px 16px;
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img//Top\ games\ container.png");
}

.y-l-uniqueness-link {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  width: 256px;
  padding-top: 12px;

  padding-bottom: 12px;
  border-radius: 16px;
  display: block;
  margin: 40px auto 0;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, #f43b8e 0%, #f77d4a 100%);
}

.y-l-uniqueness-link:hover,
.y-l-uniqueness-link:focus {
  background: linear-gradient(90deg, #f77d4a 0%, #f43b8e 100%);
  transform: scale(1.1);
}
@media screen and (min-width: 1207px) {
  .y-l-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }

  .y-l-uniqueness-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  .y-l-uniqueness-item {
    width: 256px;
    height: 289px;

    padding: 117px 16px;
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .y-l-uniqueness-link {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.y-l-how-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}
.y-l-how-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
}
.y-l-how-text {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-l-how-list {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  list-style-type: disc;
  margin-left: 20px;
}

@media screen and (min-width: 1207px) {
  .y-l-how-container {
    margin: auto;
    width: 1440px;

    padding: 80px 256px;
  }
  .y-l-how-div {
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding-top: 40px;
  }
  .y-l-how-text {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: 448px;
  }
  .y-l-how-list {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.y-l-reviews-container {
  margin: auto;
  width: 375px;
  color: #ffffff;
  height: 342px;
  padding: 40px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Testimonials.png");
}
.y-l-reviews-list {
  padding-top: 32px;
}
.y-l-reviews-lists {
  display: none;
}
.y-l-reviews-item {
  margin: 0 8px;
  width: 256px;

  border-radius: 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: #fdeef3;
}

.y-l-reviews-text-bold {
  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #f43b8e;
}

.y-l-reviews-text {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
  color: #000;
}

@media screen and (min-width: 1207px) {
  .y-l-reviews-container {
    margin: auto;
    width: 1440px;
    color: #ffffff;
    height: 499px;
    padding: 80px 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img//Testimonials\ \(1\).png");
  }
  .y-l-reviews-list {
    display: none;
  }
  .y-l-reviews-lists {
    display: flex;
    gap: 32px;
    padding-top: 40px;
    align-items: start;
  }
  .y-l-reviews-item {
    margin: 0;
    width: 256px;
    border-radius: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .y-l-reviews-text-bold {
    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-l-reviews-text {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.y-l-faq-container {
  padding: 40px 16px;
  width: 375px;
  height: 644px;
  margin: auto;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Join\ Our\ Cozy\ Community.png");
}

@media screen and (min-width: 1207px) {
  .y-l-faq-container {
    padding: 80px 160px;
    width: 1440px;
    height: 655px;
    margin: auto;

    background-image: url("/img/Join\ Our\ Cozy\ Community\ \(1\).png");
  }
  .y-l-faq-text {
    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    width: 544px;
  }
}
.y-l-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-l-container h1 {
  font-family: Candal;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}

.y-l-container h2 {
  margin-top: 10px;
  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.y-l-container h3 {
  margin-top: 10px;

  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-l-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.y-l-container ul li {
  margin-bottom: 10px;
}
.y-l-container p {
  margin-top: 10px;
}
.y-l-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.y-l-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1207px) {
  .y-l-container {
    padding: 160px 160px 80px;
    width: 1440px;
    margin: auto;

    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-l-container h1 {
    font-family: Candal;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .y-l-container h2 {
    margin-top: 20px;
    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .y-l-container h3 {
    margin-top: 20px;

    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-l-container ul {
    margin-top: 20px;
  }

  .y-l-container ul li {
    margin-bottom: 10px;
  }
  .y-l-container p {
    margin-top: 20px;
  }
}

.y-l-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px 40px;
  display: flex;
  flex-direction: column;
  background: #4b2400;
  color: #ffffff;
  gap: 40px;
}

.y-l-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.y-l-footer-text {
  text-decoration: none;
  color: inherit;

  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-l-footer-copyright {
  color: #ffffff;
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-l-footer-div {
  display: flex;
  flex-direction: column;

  gap: 40px;
}
.y-l-footer-copyright-two {
  font-family: Quicksand;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.y-l-footer-d {
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.y-l-footer-dt {
  font-family: Candal;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  color: #38c3fd;
}
.y-l-footer-dd {
  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1207px) {
  .y-l-footer-dt {
    font-family: Candal;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .y-l-footer-dd {
    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .y-l-footer-container {
    width: 1440px;
    padding: 40px 160px;
    display: flex;
  }
  .y-l-footer-div {
    display: flex;
    flex-direction: row;

    gap: 137px;
  }
  .y-l-footer-copyright-two {
    font-family: Quicksand;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .y-l-footer-wrapper {
    display: flex;

    justify-content: end;
    align-items: end;
    gap: 16px;
  }

  .y-l-footer-text {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }

  .y-l-footer-copyright {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.y-l-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px;
  border-radius: 32px;
  background: #0c0c0c;

  z-index: 1000;
  display: none;
}

.y-l-cookie-popup-text-two {
  font-family: Quicksand;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: center;
}

.y-l-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.y-l-cookie-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 256px;

  padding-top: 12px;

  padding-bottom: 12px;

  border-radius: 28px;
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

#accept-cookies {
  border: none;
  background: #baf3ed;

  color: #000000;
}

.y-l-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1207px) {
  .y-l-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
  }

  .y-l-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
  }

  .y-l-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .y-l-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
